**/_version.py
*.pyc
.idea
Vagrantfile
htmlcov_*
coverage_*.xml
venv*/
.coverage

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

POTCAR*
# YARD artifacts
.yardoc
_yardoc
doc/
*.idea/
*.html
node_modules/

# 'compiled' json files with inclusions and references resolved
compiled/
lib/
.tests

# Virtual environment
.virtualenv

.test/
*.egg-info/
*.py[cod]

dist/

.npmignore
.nyc_output
.eslintcache
