[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/py/esse/_version.py"

[tool.coverage.run]
source = ['src/py']
omit = ['env*/*', 'venv*/*', 'src/py/esse/tests/*']
